@import "tailwindcss";

@theme {
  --font-main: var(--font-main);
  --font-secondary: var(--font-secondary);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
